// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  margin-top: 50px;
}

.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  margin-left: 250px;
}

.checkbox {
  margin-rigth: 20px !important;
}

.title {
  margin-left: 20px;
  margin-right: 10px;
}
